*.tar
*.zip

.nfs*

dist
temp*
*.log
*.dat*
__pycache__

.vscode

ncverilog.log
ncverilog.key
ncverilog.history
INCA_libs
BSSLib.lib++
irun.history

innovus.cmd*
innovus.log*
timingReports

obj_dir
.nano_eco_diode.list*
DBS*
*.antenna.lef
*.antenna.rpt*
*.drc.rpt*
*.geom.rpt*
*.conn.rpt*
analyzeFP.rpt
.z*of
mp_data*

.SG_SaveRestoreDB

*.sdf.X
alib-52

novas.conf
novas.rc
novas_dump.log
nWaveLog
*.fsdb
*.vcd
*.rc
*.svf
fsdb2vcdLog
ncsim*.err

tags

spyglass*

jgproject

tsmc*
submit


cvsd_lint

simv
*.key
*.tgz

*.daidir
*.vdb

csrc
DVEfiles

library
old_syn

tmp.log*

a.out
*.o

*.save.io
design_data
ccopt.spec
mmmc.view

02_SYN_*
05_APR_*

55_final*

*lint.prj

lab6_syn